/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,700); */

body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
/* .panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
} */
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

.panel-google-plus-textarea > textarea {
    display: block;
    margin-left: 24%;
    width: 21%;
    background-color: rgb(248, 245, 245);
    border: 1px solid rgb(97, 168, 226);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
 .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 10px;
    /* margin-left: 24%; */
    width: 10%;
    
}
/* @media (min-width: 25px) {
    .panel-google-plus-textarea > .btn {
        width: auto;
    }    
} */
