.loginpage

   {
       width: 30%;
       margin: auto;
       border: 5px solid rgb(238, 238, 238);
       box-shadow: 0 2px 3px  rgb(40, 90, 182);
       margin-top: 2%;
       padding: 70px;
       position: auto;
   }

   button 
   {
    width: 50%;
    margin-left: 16%;
   }

   input
   {
    width: 50%;
   }